# This is the input file for SGTforPinv generated b/gpfs/users/meschede/DSM_Kernel makingInputFile.pl
# 0. DSM configuration file
[xy]/etc/DSMconfiguration/DSM.config
# 1. outputDir
[mydatabase/]
# 2. psvmodel
[xy]/etc/models/ak135.psv.model
# 3. modelname
ak135
# 4. tlen (preferred to be set as 2^n*0.1 seconds)
819.2d0
# 5. minQ radius (km), maxQ radius, delta radius
5471.d0 6371.d0 20.d0
# 6. source radius (km)
6157.d0
# 7. minQ theta (degrees), maxQ theta, delta theta
0.d0 60.d0 5.d-1
# 8. imin imax (omega index: tlen/imax is the shortest period)
0 256 
# 9. switching calculation of RSGT, TSGT, synthetics
# if 1 we calculate
1 1 1
# don't forget to write 'end'
end
