# DSM configuration file
# please contact NF seismobassoon@gmail.com for further information
#
# 1. (re) relative error (see GT95 eq. 6.2: you can control the quality of synthetics)
1.d-2 
#
# 2. (ratc) ampratio using in grid cut-off (1.d-10 is recommended)
1.d-10
# 3. (ratl) ampratio using in l-cutoff
1.d-5
# 4. wrap-around attenuation for omegai (usually 1.d-2 is used)
1.d-2
# 5. (maxlmax) (subroutine calamp will calculate lmax for each frequency regarding ratl,
#          but here you can decide the maximum value of lmax in case of explosion)
#          typically either 20000 or 40000 is used
80000
# don't forget to write 'end'
end

